DOMAIN=127.0.0.1

POSTGRES_VERSION=18-alpine
POSTGRES_DB=transcendence
POSTGRES_USER=change_your_postgres_user
BACKEND_USER=change_your_backend_user

FORTYTWO_REDIRECT_URI=http://127.0.0.1:1024/api/auth/oauth/42/callback
FRONTEND_OAUTH_URI=http://127.0.0.1:1024/
VITE_OAUTH_42_START_URL=http://127.0.0.1:1024/api/auth/oauth/42

TWO_FACTOR_URL=http://127.0.0.1:1024/two-factor

