.navbar {
	display: flex;
	align-items: center;
	padding: 18px 40px;
	background: white;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.navbar-links {
	display: flex;
	gap: 28px;
}

.navbar-links a {
	color: #555;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	font-size: 15px;
}

.navbar-links a:hover {
	color: #111;
}

.navbar-links a.active {
	color: #111;
}
.navbar .logo {
	margin-right: auto;
}
.navbar-login {
	margin-left: 28px;
	padding: 8px 16px;
	border-radius: 8px;
	background: #915836;
	color: #fafafa;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	transition: all 0.2s ease-in-out;
}

.navbar-login:hover {
	background: #7a4221;
}

.navbar-avatar {
	margin-left: 28px;
}