.logo {
	display: flex;
	align-items: center;
	gap: 8px;
	color: #111;
	text-decoration: none;
}

.logo img {
	height: 64px;
}

.logo span {
	font-family: Georgia, serif;
	font-weight: bold;
	font-size: 44px;
}

