

.signin-form h1 {
    text-align: center;
    font-family: Georgia, serif;
	font-weight: bold;
}

.signin-form input {
    padding: 10px 12px;
	border: 1px solid #ddd;
	border-radius: 8px;
	font-size: 16px;
}


.signin-form button {
    padding: 10px 12px;
    border: none;
    border-radius: 8px;
    background: #915836;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.signin-form button:hover {
    background: #7a4221;
}

.signin-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.box {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    border: 1px solid #d2d2d290;
}


.signin-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 320px;
    margin: 320px auto;
}

.p {
    color: #a7a7a7;
}

.p a {
    color: #915836;
}

.p a:hover {
    color: #7a4221;
}